<a href="https://colab.research.google.com/github/georgeray1999-CS/Lab_Assignments/blob/main/lab3/bank_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
import pandas as pd
import seaborn as sns
import numpy as np
import sklearn

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score, f1_score
from sklearn.dummy import DummyClassifier
from sklearn.feature_selection import SelectFromModel, SelectKBest

In [128]:
# load data and save copy
data = pd.read_csv("https://raw.githubusercontent.com/albanda/ce888/master/lab3/bank-additional-full.csv", delimiter=";")
df = data.copy()
df

       age          job  marital  ... euribor3m nr.employed    y
0       56    housemaid  married  ...     4.857      5191.0   no
1       57     services  married  ...     4.857      5191.0   no
2       37     services  married  ...     4.857      5191.0   no
3       40       admin.  married  ...     4.857      5191.0   no
4       56     services  married  ...     4.857      5191.0   no
...    ...          ...      ...  ...       ...         ...  ...
41183   73      retired  married  ...     1.028      4963.6  yes
41184   46  blue-collar  married  ...     1.028      4963.6   no
41185   56      retired  married  ...     1.028      4963.6   no
41186   44   technician  married  ...     1.028      4963.6  yes
41187   74      retired  married  ...     1.028      4963.6   no

[41188 rows x 21 columns]

In [126]:
df['y'].value_counts()

0    36548
1     4640
Name: y, dtype: int64

In [119]:
# remove missing values
print("Number of rows before dropping NaNs: %d" % len(df))
df = df.dropna()
print("Number of rows after dropping NaNs: %d" % len(df))

Number of rows before dropping NaNs: 41188
Number of rows after dropping NaNs: 41188

In [7]:
# # change all 'unknown' to NaNs
# df = df.replace('unknown', np.nan)

In [129]:
# encode label with numeric values
df[["y"]] = df[["y"]].apply(LabelEncoder().fit_transform)

In [130]:
# create dummy variables for categorical data
cat_features = ["job", "marital", "education", "default", "housing", "loan", "contact", "month", "day_of_week", "poutcome"]
df = pd.get_dummies(df, columns=cat_features)
del df["duration"]
df.shape

(41188, 63)

In [131]:
# create separate datasets for features and outcomes
X_df = df.loc[:, df.columns != 'y'].copy()
y_df = df[['y']].copy()

X_df

       age  campaign  ...  poutcome_nonexistent  poutcome_success
0       56         1  ...                     1                 0
1       57         1  ...                     1                 0
2       37         1  ...                     1                 0
3       40         1  ...                     1                 0
4       56         1  ...                     1                 0
...    ...       ...  ...                   ...               ...
41183   73         1  ...                     1                 0
41184   46         1  ...                     1                 0
41185   56         2  ...                     1                 0
41186   44         1  ...                     1                 0
41187   74         3  ...                     0                 0

[41188 rows x 62 columns]

In [138]:
# split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, test_size= 0.2, random_state=50, stratify=y_df)

In [145]:
clf = RandomForestClassifier(n_estimators=150, max_depth=6)
scores = cross_val_score(clf, X_train, y_train.values.ravel(), cv=10, scoring=make_scorer(f1_score))  # cross-validation
print("ACC: %.2f +/- %.2f" % (scores.mean(), scores.std()))

ACC: 0.28 +/- 0.05

In [150]:
clf = RandomForestClassifier(n_estimators=100, max_depth=8, random_state=60)
clf.fit(X_train, y_train)
f1_score(y_train, clf.predict(X_train))
# scores = cross_val_score(clf, X_train, y_train.values.ravel()  # cross-validation
# print("ACC: %.2f +/- %.2f" % (scores.mean(), scores.std()))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.33964646464646464

In [151]:
sel = SelectFromModel(RandomForestClassifier(n_estimators=400, max_depth=6, random_state=60), threshold=0.1)
sel.fit(X_train, y_train.values.ravel())
sel.get_support()
selected_feat= X_train.columns[(sel.get_support())]
len(selected_feat)
print(selected_feat)

Index(['pdays', 'euribor3m', 'nr.employed'], dtype='object')

In [102]:
sel.get_support()
selected_feat= X_train.columns[(sel.get_support())]
len(selected_feat)
print(selected_feat)

Index(['euribor3m', 'nr.employed'], dtype='object')

In [125]:
dummy_clf = DummyClassifier(strategy='stratified')
dummy_clf.fit(X_train, y_train)
print("Dummy ACC: %.2f" % f1_score(y_train, dummy_clf.predict(X_train)))

Dummy ACC: 0.12

In [ ]:
# GridSearchCV
n_estimators = [int(x) for x in np.linspace(10, 80, 10)]
max_features = ['auto', 'sqrt']
max_depth = [2, 4]
min_samples_split = [2, 5]
min_samples_leaf = [1, 2]
bootstrap = [True, False]

param_grid = {'n_estimators': n_estimators,
              'max_features': max_features,
              'max_depth': max_depth,
              'min_samples_split': min_samples_split,
              'min_samples_leaf': min_samples_leaf,
              'bootstrap': bootstrap}

rf_model = RandomForestClassifier()

print(param_grid)

{'n_estimators': [10, 17, 25, 33, 41, 48, 56, 64, 72, 80], 'max_features': ['auto', 'sqrt'], 'max_depth': [2, 4], 'min_samples_split': [2, 5], 'min_samples_leaf': [1, 2], 'bootstrap': [True, False]}

In [ ]:
rf_grid = GridSearchCV(estimator=rf_model, param_grid=param_grid, cv=3, verbose=2, n_jobs = 4)
rf_grid.fit(X_train, y_train)

Fitting 3 folds for each of 320 candidates, totalling 960 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    9.0s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:   32.7s
[Parallel(n_jobs=4)]: Done 357 tasks      | elapsed:  1.3min
[Parallel(n_jobs=4)]: Done 640 tasks      | elapsed:  2.4min
[Parallel(n_jobs=4)]: Done 960 out of 960 | elapsed:  3.9min finished
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=3, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=4,
             param_grid={'bootstrap': [True, False], 'max_depth': [2, 4],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_leaf': [1, 2],
                         'min_samples_split': [2, 5],
                         'n_estimators': [10, 17, 25, 33, 41, 48, 56, 64, 72,
                                          80]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=2)

In [ ]:
rf_grid.best_params_

{'bootstrap': True,
 'max_depth': 4,
 'max_features': 'sqrt',
 'min_samples_leaf': 2,
 'min_samples_split': 5,
 'n_estimators': 17}

In [ ]:
print('Train Accuracy - : ', rf_grid.score(X_train, y_train))
print('Test Accuracy - : ', rf_grid.score(X_test, y_test))

Train Accuracy - :  0.8876588765887659
Test Accuracy - :  0.8881600524762218