<a href="https://colab.research.google.com/github/georgeray1999-CS/Lab_Assignments/blob/main/lab6/Task_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lab 6: Exercise to be completed

### Task 7: To complete this task, please create a new notebook in Google Colab. 

Note: Please create a new notebook for this task.

Your data is stored in Lab_6/Data folder. There are two .csv files: 1) Country-data.csv and 2) data-dictionary.csv. Please explore the data and use any clustering method to find the list of countries, which can categorised as follows:

| S.No      | Categories |
| ----------- | ----------- |
| 1   | under-developing country |
| 2   | developing country       |
| 3   | developed country        |


Note: please justify your reason, why and how you have concluded your answer.

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import  KMeans

In [65]:
# load data
df_countries = pd.read_csv('https://raw.githubusercontent.com/sagihaider/CE888_2021/main/Lab_6/Data/Country-data.csv')
df_countries.head()

               country  child_mort  exports  ...  life_expec  total_fer   gdpp
0          Afghanistan        90.2     10.0  ...        56.2       5.82    553
1              Albania        16.6     28.0  ...        76.3       1.65   4090
2              Algeria        27.3     38.4  ...        76.5       2.89   4460
3               Angola       119.0     62.3  ...        60.1       6.16   3530
4  Antigua and Barbuda        10.3     45.5  ...        76.8       2.13  12200

[5 rows x 10 columns]

In [66]:
# load data into array
X = df_countries.iloc[:,1:]

In [67]:
# standardize data
sc = StandardScaler()
X_std = sc.fit_transform(X)

K Means Clustering

In [68]:
km = KMeans(n_clusters=3)
km.fit(X_std)
km.labels_

array([2, 0, 0, 2, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 2, 0, 0, 0, 2,
       0, 1, 0, 2, 2, 0, 2, 1, 0, 2, 2, 0, 0, 0, 2, 2, 2, 0, 2, 0, 1, 1,
       1, 0, 0, 0, 0, 2, 2, 0, 0, 1, 1, 2, 2, 0, 1, 2, 1, 0, 0, 2, 2, 0,
       2, 0, 1, 0, 0, 0, 2, 1, 1, 1, 0, 1, 0, 0, 2, 2, 1, 0, 2, 0, 0, 2,
       2, 0, 0, 1, 0, 2, 2, 0, 0, 2, 1, 2, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0,
       1, 1, 2, 2, 1, 0, 2, 0, 0, 0, 0, 0, 1, 1, 0, 0, 2, 0, 0, 2, 0, 0,
       2, 1, 1, 1, 0, 2, 1, 1, 0, 0, 2, 0, 1, 1, 0, 2, 0, 2, 2, 0, 0, 0,
       0, 2, 0, 1, 1, 1, 0, 0, 0, 0, 0, 2, 2], dtype=int32)

In [69]:
# Add clustered labels to dataframe
df_clusters = df_countries.copy()
df_clusters['Label'] = km.labels_
df_clusters['Label'].value_counts()

0    84
2    47
1    36
Name: Label, dtype: int64

In [70]:
# Find out country profiles and relate them to given label
# Countries labelled 0
df_clusters.loc[df_clusters['Label'] == 0]

                 country  child_mort  exports  ...  total_fer   gdpp  Label
1                Albania        16.6     28.0  ...       1.65   4090      0
2                Algeria        27.3     38.4  ...       2.89   4460      0
4    Antigua and Barbuda        10.3     45.5  ...       2.13  12200      0
5              Argentina        14.5     18.9  ...       2.37  10300      0
6                Armenia        18.1     20.8  ...       1.69   3220      0
..                   ...         ...      ...  ...        ...    ...    ...
160              Uruguay        10.6     26.3  ...       2.08  11900      0
161           Uzbekistan        36.3     31.7  ...       2.34   1380      0
162              Vanuatu        29.2     46.6  ...       3.50   2970      0
163            Venezuela        17.1     28.5  ...       2.47  13500      0
164              Vietnam        23.3     72.0  ...       1.95   1310      0

[84 rows x 11 columns]

In [71]:
df_clusters['Label'] = df_clusters['Label'].replace([0], 'developing')
df_clusters.loc[df_clusters['Label'] == 'developing'].head()

               country  child_mort  exports  ...  total_fer   gdpp       Label
1              Albania        16.6     28.0  ...       1.65   4090  developing
2              Algeria        27.3     38.4  ...       2.89   4460  developing
4  Antigua and Barbuda        10.3     45.5  ...       2.13  12200  developing
5            Argentina        14.5     18.9  ...       2.37  10300  developing
6              Armenia        18.1     20.8  ...       1.69   3220  developing

[5 rows x 11 columns]

These countires have larger GDPs and mostly better statistics than those classified in cluster 2 but not better than those classified in cluster 1 so are developing countries.

In [72]:
# Countries labelled 1
df_clusters.loc[df_clusters['Label'] == 1]

                  country  child_mort  exports  ...  total_fer    gdpp  Label
7               Australia         4.8     19.8  ...       1.93   51900      1
8                 Austria         4.3     51.3  ...       1.44   46900      1
11                Bahrain         8.6     69.5  ...       2.16   20700      1
15                Belgium         4.5     76.4  ...       1.86   44400      1
23                 Brunei        10.5     67.4  ...       1.84   35300      1
29                 Canada         5.6     29.1  ...       1.63   47400      1
42                 Cyprus         3.6     50.2  ...       1.42   30800      1
43         Czech Republic         3.4     66.0  ...       1.51   19800      1
44                Denmark         4.1     50.5  ...       1.87   58000      1
53                Finland         3.0     38.7  ...       1.87   46200      1
54                 France         4.2     26.8  ...       2.03   40600      1
58                Germany         4.2     42.3  ...       1.39   41800      1
60                 Greece         3.9     22.1  ...       1.48   26900      1
68                Iceland         2.6     53.4  ...       2.20   41900      1
73                Ireland         4.2    103.0  ...       2.05   48700      1
74                 Israel         4.6     35.0  ...       3.03   30600      1
75                  Italy         4.0     25.2  ...       1.46   35800      1
77                  Japan         3.2     15.0  ...       1.39   44500      1
82                 Kuwait        10.8     66.7  ...       2.21   38500      1
91             Luxembourg         2.8    175.0  ...       1.63  105000      1
98                  Malta         6.8    153.0  ...       1.36   21100      1
110           Netherlands         4.5     72.0  ...       1.79   50300      1
111           New Zealand         6.2     30.3  ...       2.17   33700      1
114                Norway         3.2     39.7  ...       1.95   87800      1
122              Portugal         3.9     29.9  ...       1.39   22500      1
123                 Qatar         9.0     62.3  ...       2.07   70300      1
133             Singapore         2.8    200.0  ...       1.15   46600      1
134       Slovak Republic         7.0     76.3  ...       1.43   16600      1
135              Slovenia         3.2     64.3  ...       1.57   23400      1
138           South Korea         4.1     49.4  ...       1.23   22100      1
139                 Spain         3.8     25.5  ...       1.37   30700      1
144                Sweden         3.0     46.2  ...       1.98   52100      1
145           Switzerland         4.5     64.0  ...       1.52   74600      1
157  United Arab Emirates         8.6     77.7  ...       1.87   35000      1
158        United Kingdom         5.2     28.2  ...       1.92   38900      1
159         United States         7.3     12.4  ...       1.93   48400      1

[36 rows x 11 columns]

These countries have high GDPs and good statistics overall so will be classed as developed countries.

In [73]:
df_clusters['Label'] = df_clusters['Label'].replace([1], 'developed')
df_clusters.loc[df_clusters['Label'] == 'developed'].head()

      country  child_mort  exports  ...  total_fer   gdpp      Label
7   Australia         4.8     19.8  ...       1.93  51900  developed
8     Austria         4.3     51.3  ...       1.44  46900  developed
11    Bahrain         8.6     69.5  ...       2.16  20700  developed
15    Belgium         4.5     76.4  ...       1.86  44400  developed
23     Brunei        10.5     67.4  ...       1.84  35300  developed

[5 rows x 11 columns]

In [74]:
# Countries labelled 2
df_clusters.loc[df_clusters['Label'] == 2]

                      country  child_mort  exports  ...  total_fer   gdpp  Label
0                 Afghanistan        90.2    10.00  ...       5.82    553      2
3                      Angola       119.0    62.30  ...       6.16   3530      2
17                      Benin       111.0    23.80  ...       5.36    758      2
21                   Botswana        52.5    43.60  ...       2.88   6350      2
25               Burkina Faso       116.0    19.20  ...       5.87    575      2
26                    Burundi        93.6     8.92  ...       6.26    231      2
28                   Cameroon       108.0    22.20  ...       5.11   1310      2
31   Central African Republic       149.0    11.80  ...       5.21    446      2
32                       Chad       150.0    36.80  ...       6.59    897      2
36                    Comoros        88.2    16.50  ...       4.75    769      2
37           Congo, Dem. Rep.       116.0    41.10  ...       6.54    334      2
38                Congo, Rep.        63.9    85.10  ...       4.95   2740      2
40              Cote d'Ivoire       111.0    50.60  ...       5.27   1220      2
49          Equatorial Guinea       111.0    85.80  ...       5.21  17100      2
50                    Eritrea        55.2     4.79  ...       4.61    482      2
55                      Gabon        63.7    57.70  ...       4.08   8750      2
56                     Gambia        80.3    23.80  ...       5.71    562      2
59                      Ghana        74.7    29.50  ...       4.27   1310      2
63                     Guinea       109.0    30.30  ...       5.34    648      2
64              Guinea-Bissau       114.0    14.90  ...       5.05    547      2
66                      Haiti       208.0    15.30  ...       3.33    662      2
72                       Iraq        36.9    39.40  ...       4.56   4500      2
80                      Kenya        62.2    20.70  ...       4.37    967      2
81                   Kiribati        62.7    13.30  ...       3.84   1490      2
84                        Lao        78.9    35.40  ...       3.15   1140      2
87                    Lesotho        99.7    39.40  ...       3.30   1170      2
88                    Liberia        89.3    19.10  ...       5.02    327      2
93                 Madagascar        62.2    25.00  ...       4.60    413      2
94                     Malawi        90.5    22.80  ...       5.31    459      2
97                       Mali       137.0    22.80  ...       6.55    708      2
99                 Mauritania        97.4    50.70  ...       4.98   1200      2
106                Mozambique       101.0    31.50  ...       5.56    419      2
108                   Namibia        56.0    47.80  ...       3.60   5190      2
112                     Niger       123.0    22.20  ...       7.49    348      2
113                   Nigeria       130.0    25.30  ...       5.84   2330      2
116                  Pakistan        92.1    13.50  ...       3.85   1040      2
126                    Rwanda        63.6    12.00  ...       4.51    563      2
129                   Senegal        66.8    24.90  ...       5.06   1000      2
132              Sierra Leone       160.0    16.80  ...       5.20    399      2
137              South Africa        53.7    28.60  ...       2.59   7280      2
142                     Sudan        76.7    19.70  ...       4.88   1480      2
147                  Tanzania        71.9    18.70  ...       5.43    702      2
149               Timor-Leste        62.6     2.20  ...       6.23   3600      2
150                      Togo        90.3    40.20  ...       4.87    488      2
155                    Uganda        81.0    17.10  ...       6.15    595      2
165                     Yemen        56.3    30.00  ...       4.67   1310      2
166                    Zambia        83.1    37.00  ...       5.40   1460      2

[47 rows x 11 columns]

These countries are under-developed due to having worse statistics in many areas such as GDP than the other clusters.

In [75]:
df_clusters['Label'] = df_clusters['Label'].replace([2], 'under-developed')
df_clusters.loc[df_clusters['Label'] == 'under-developed'].head()

         country  child_mort  exports  ...  total_fer  gdpp            Label
0    Afghanistan        90.2     10.0  ...       5.82   553  under-developed
3         Angola       119.0     62.3  ...       6.16  3530  under-developed
17         Benin       111.0     23.8  ...       5.36   758  under-developed
21      Botswana        52.5     43.6  ...       2.88  6350  under-developed
25  Burkina Faso       116.0     19.2  ...       5.87   575  under-developed

[5 rows x 11 columns]

In [76]:
df_clusters

                 country  child_mort  ...   gdpp            Label
0            Afghanistan        90.2  ...    553  under-developed
1                Albania        16.6  ...   4090       developing
2                Algeria        27.3  ...   4460       developing
3                 Angola       119.0  ...   3530  under-developed
4    Antigua and Barbuda        10.3  ...  12200       developing
..                   ...         ...  ...    ...              ...
162              Vanuatu        29.2  ...   2970       developing
163            Venezuela        17.1  ...  13500       developing
164              Vietnam        23.3  ...   1310       developing
165                Yemen        56.3  ...   1310  under-developed
166               Zambia        83.1  ...   1460  under-developed

[167 rows x 11 columns]